body{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
      
}
.focus{
    background-image: url("../CSS/an\ elephant\ .png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
.logo img{
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100%;
}

.Aims{
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    
}
H1{
    border-style: solid;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    padding: 20px; 
    
}
@media screen {
    
}

